/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .projects-section {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 10px 20px;
  }
  
  .projects-heading {
    color: #ff8c00;
    font-size: 38px;
    margin-bottom: 40px;
       font-family: "Crimson Text", serif;

       font-family: "Crimson Text", serif;

    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  /* Projects Container */
  .projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
  }
  
  .project-card {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 250px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .project-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Crimson Text", serif;
    color: #ff8c00;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .project-card p {
    font-size: 16px;
    line-height: 1.6;
    font-family: "Crimson Text", serif;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    margin-bottom: 10px;
  }
  
  /* Glowing Effect for Card */
  .project-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 25px 10px rgba(255, 140, 0, 0.8);
  }
  
  .project-card:hover p {
    opacity: 12;
  }
  
  /* Hover Animation on Title */
  .project-card:hover h3 {
    color: #ffdd57;
    text-shadow: 0px 0px 10px rgba(255, 140, 0, 0.9), 0px 0px 15px rgba(255, 140, 0, 0.9);
  }
  
  .project-card:active {
    box-shadow: 0px 0px 35px 15px rgba(255, 140, 0, 1);
    background-color: #444;
  }
  
  /* Media Queries for responsiveness */
  @media (max-width: 1200px) {
    .projects-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .projects-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .projects-container {
      grid-template-columns: 1fr;
    }
  }
  